@font-face{
font-family: "theinhardt";
src:url("../type/TheinhardtHeavy.otf");
}
@font-face{
    font-family: "theinhardt_med";
    src:url("../type/TheinhardtMed.otf");
    }
    @font-face{
        font-family: "SF_semi";
        src:url("../type/SFUIText-Semibold.otf");
        }
@media only screen and (min-width:1441px){
    body{
        max-width: 1440px;
        margin: auto;
     }
}
* {
    box-sizing: border-box;
}

/* NAV BAR */

a{
    color: #292929;
    font-size: 18px;
    text-decoration: none;
    font-family: "theinhardt_med", sans-serif;
    padding-right: 30px;
    padding-left: 30px;
}

nav{
    width:  1440px;
    background: #fffffff0;
    display: flex;
    position: fixed;
    text-align: right;
    z-index:1000
 }


 .navbar_words{
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
 }
 .navbar_words_txt:hover{
    color:#F16830 ;
 }

 .navbar_words_txt_eng{
display: flex;
padding-top: 10%;
width: 100%;
margin-left: -40%;
color:#8b8b8b;
}

.navbar_words_txt_eng:hover{
color:#292929;
}

/* CABECERA */
.cabecera{
display: flex;
justify-content: space-between;
}

.bailarina{
    padding-top: 2%;
}

.bailarina_1{
    display:block;
}
.bailarina_2{
    display:none;
}
.bailarina:hover .bailarina_1{
    display: none;
}
.bailarina:hover .bailarina_2{
    display: block;
}


.hello{
    margin-left: 5%;
    background-size: cover;
    font-size: 80px;
    font-family: "theinhardt",sans-serif;
    padding-top: 7%;
    color: #292929;
}

h1{
    border-bottom: 7px solid #292929;
    width: 550px;
}

.uxui_alinear{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.uxui{

    font-size: 31px;
    font-family: "theinhardt_med",sans-serif;
    padding-top: 4%;
    color: #292929;
    text-align: left;
}


.uxuitext{
    font-size: 20px;
    font-family: "SF_semi",sans-serif;
    line-height: 150%;
    width: 550px;
    padding-top: 1%;
    padding-bottom: 5%;
    color: #292929;
}
.btn {
    display:flex;
    flex-direction: column;
    white-space: nowrap;
    margin-right: 10%;
}

.btn_linkedin_english{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 73px;
    padding-left: 73px;
    font-family: "theinhardt_med",sans-serif;
    font-size: 24px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 32px;
}



.btn_linkedin{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 65px;
    padding-left: 65px;
    font-family: "theinhardt_med",sans-serif;
    font-size: 24px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 32px;
}


.btn_CV{
    text-decoration: none;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 70px;
    padding-left: 70px;
    font-family: "theinhardt_med",sans-serif;
    font-size: 24px;
    background-color: #ffffff;
    color: #292929;
    border-radius: 50px;
    border-width: 3px;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 96px;
}


/* WHAT CAN I DO */


.what_can_I_do{
    font-size: 50px;
    font-family: "theinhardt",sans-serif;
    text-align: center;
    justify-content: center;
    color: #292929;
}


.what_can_I_do_icn{
    display:block;
}
.what_can_I_do_icn_H{
    display:none;
}
.icn0:hover .what_can_I_do_icn{
    display: none;
}
.icn0:hover .what_can_I_do_icn_H{
    display: block;
}


.what_can_I_do_icn1{
    display:block;
}
.what_can_I_do_icn_H1{
    display:none;
}
.icn1:hover .what_can_I_do_icn1{
    display: none;
}
.icn1:hover .what_can_I_do_icn_H1{
    display: block;
}


.what_can_I_do_icn2{
    display:block;
}
.what_can_I_do_icn_H2{
    display:none;
}
.icn2:hover .what_can_I_do_icn2{
    display: none;
}
.icn2:hover .what_can_I_do_icn_H2{
    display: block;
}

.icn012{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom: 96px;
}


/* PROYECTOS */
/* TITULO */



.title_my_latest_work{
    font-size: 50px;
    font-family: "theinhardt",sans-serif;
    text-align: center;
    justify-content: center;
    color: #292929;
    background-color: #ffffff;
    padding-top: 80px;

}


/* my_latest_work_unit_2_SETAS*/


.my_latest_work_unit_2{
    font-family: "theinhardt",sans-serif;
    text-align: center;
    justify-content: center;
    color: #292929;
    background-color: #ffffff;
    height: 800px;
    padding-top: 80px;
    
    }
    
    
    .edulis_img_ipad {
        display: none;
        }
    
    .my_latest_work_2{
        position: relative;
        width: 100%;
    
    }
    
    .edulis{
        display: block;
        width: 100%;
        height: auto;
    
    }
    
    
    /* EDULIS*/
    .edulis_section{
        display: flex;
        justify-content: space-between;
        margin-left: 7%;
        margin-right: 10%;
        margin-top: 2%;
        
    }
    
    .edulis_text{
     margin-top: 5%;
     margin-right: 25%;
     
    }
    
    .edulis_text_h3{
        font-family: "theinhardt_med",sans-serif;
        font-size: 25px;
        color: #292929;
    }
    .edulis_text_p{
        font-size: 18px;
        font-family: "SF_semi",sans-serif;
        line-height: 150%;
        
        padding-top: 1%;
        padding-bottom: 5%;
        color: #292929;
    
    }
    
    .btn_edulis{
        text-decoration: none;
        padding-top: 20px;
        padding-bottom:15px;
        padding-right: 80px;
        padding-left: 80px;
        font-family: "theinhardt_med",sans-serif;
        font-size: 24px;
        background-color: #292929;
        color: #ffffff;
        border-radius: 50px;
        margin-top: 5%;
        white-space: nowrap;
     }
    
    .ironhack{
    margin-bottom: 40px;
    width: 90%;    
    }
    
    
    .linea_separacion{
        padding-top: 10%;
    }
    
/* my_latest_work_unit_1_POKET WATCH*/   

.poketwatch_img_ipad {
    display: none;
    }

.my_latest_work{
    position: relative;
    width: 100%;

}

.poketwatch{
    display: block;
    width: 100%;
    height: auto;

}


.my_latest_work:hover .poketwatch_light {
        opacity: 1;

}

.poketwatch_light_text{
    padding-top: 120px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 25px;
    color: #292929;
    font-family: "theinhardt_med",sans-serif;
    line-height: 150%;
}

/* poketwatch */
.watchpoket_section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.btn_watchpoket_section{
    display:none;
}
.watchpoket_text{
 margin-top: 15%;
 margin-left: 25%;

}

.watchpoket_text_h3{
    font-family: "theinhardt_med",sans-serif;
    font-size: 25px;
    color: #292929;
}
.watchpoket_text_p{
    font-size: 18px;
    font-family: "SF_semi",sans-serif;
    line-height: 150%;

    padding-top: 1%;
    padding-bottom: 5%;
    color: #292929;

}

.linea_separacion{
    padding-top: 10%;
}





/* pasteleria */


.pasteleria_section{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 10%;

}

.pasteleria_text{
 margin-top: 15%;
 margin-right: 25%;
}

.pasteleria_text_h3{
    font-family: "theinhardt_med",sans-serif;
    font-size: 25px;
    color: #292929;
}
.pasteleria_text_p{
    font-size: 18px;
    font-family: "SF_semi",sans-serif;
    line-height: 150%;

    padding-top: 1%;
    padding-bottom: 5%;
    color: #292929;
}

.btn_pasteleria_section{
display: none;
}


/* FOOTER */



footer{
    background-color: #292929;
    font-family: "theinhardt-med",sans-serif;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    padding-bottom: 3%;
}

.icns_footer{
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content:center;
    background-size: cover;
}
.media{
padding-left:40px;
}

.heart {
    fill: #ffffff;
    position: relative;
    top: 0px;
    width: 10px;
    animation: pulse 1s ease infinite;
    margin-left: 5px;
    margin-right: 5px;
}

  /* C O N T A C T __ L I N K */


  .cabecera_contacto{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 20%;
    }

    .hello{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.trapecista_1{
        display:block;
    }
 .trapecista_2{
        display:none;
    }
.trapecista:hover .trapecista_1{
        display: none;
    }
.trapecista:hover .trapecista_2{
        display: block;
    }
.trapecista{
    padding-bottom: 10%;
    padding-top: 5%;
}
    .contact_me {
        padding-bottom: 24px;
    }
h5{
 font-size: 15px;
}
.redes {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.emailblanca{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.emailicon{
padding-top: 10%;
padding-bottom: 10%;
}

.mobilephone{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.mobileicon{
padding-top: 10%;
padding-bottom: 20%;
}

.contact_me{
    width: 60%;
}




      /* RESPONSIVE IPAD */

@media only screen and (min-width: 415px) and (max-width: 768px) {

/* NAV BAR */
nav{
width: 768px;
}

.navbar_words{
font-size: 15%;
padding-bottom: 3%;
padding-top: 3%;
}

.navbar_words_txt_eng{
    display: flex;
    padding-top: 20%;
    width: 100%;
    padding-left: 0%;
    margin-left: -40%;
    color:#8b8b8b;
}

.cabecera{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
}

/* CABECERA */
.hello{
padding-top: 15%;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
}

.btn_CV{
    margin-bottom: 0%;
    margin-left: 10%;
    padding-left: 20%;
    padding-right: 20%;
    
}



.btn{
margin-right: 15%;
margin-left: 5%;
 }

.bailarina{
 display: flex;
 align-content: center;
 padding-left: 25%;
 padding-bottom: 5%;
}
.bailarina_1_img{
width: 70%;
align-items: center;
}
.bailarina_2_img{
    width: 70%;
    align-items: center;
    }

/* WHAT CAN I DO */
.icn012{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
.icn0_img{
    width: 100%;
}

.icn0_img_h{
    width: 100%;
}
.icn1_img{
    width: 100%;
}

.icn1_img_h{
    width: 100%;
}

.icn2_img{
    width: 100%;
}

.icn2_img_h{
    width: 100%;
}

/* LATEST WORK */

.title_my_latest_work {
    padding-bottom: 7%;
}

.my_latest_work_unit{

 background-color:#ffffff;
 padding-bottom: 300px;
 padding-top: 50px;

}

.poketwatch_img {
width: 768px;
display: none;
}
.poketwatch_img_ipad{
    width: 768px;
    display: block;
    background-color: #ffffff;
    display: flex;
    align-content: center;

}

.poketwatch_light{
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: #f8f8f8ee;
    display: flex;
}
 .poketwatch_light_text{
     padding-top: 4%;
     padding-bottom: 4%;
     padding-left: 10%;
     padding-right: 10%;
    font-size: 17px;
     color: #292929;
     font-family: "theinhardt_med",sans-serif;
     line-height: 100%;
   }

.btn_pocketwatch{
display: none;
/*   POR SI QUIERO PONER BOTON
text-decoration: none;
padding-top: 20px;
padding-bottom:15px;
padding-right: 80px;
padding-left: 80px;
font-family: "theinhardt_med",sans-serif;
font-size: 24px;
background-color: #292929;
color: #ffffff;
border-radius: 50px;
margin-top: 5%;
white-space: nowrap;
*/

}


.img_linea_separación{
 width: 768px;
}

/* poketwatch_section */
.watchpoket_section{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
.watchpoket_gif{
    display: flex;
align-items: center;
margin-left: 20%;
margin-top: 7%;
}
.watchpoket_text{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: none
}

.watchpoket_text_p{
    font-size: 17px;
    font-family: "SF_semi",sans-serif;
    line-height: 150%;
    color: #292929;
    padding-top: 1%;
    padding-bottom: 0%;

}
.btn_watchpoket_section{
display:block;
text-decoration: none;
margin-left: 20%;
padding-top: 20px;
padding-bottom:15px;
padding-right: 80px;
padding-left: 80px;
font-family: "theinhardt_med",sans-serif;
font-size: 24px;
background-color: #292929;
color: #ffffff;
border-radius: 50px;
margin-top: 5%;
white-space: nowrap;
}

/* edulis_latest_work */


.my_latest_work_unit_2{

    background-color:#ffffff;
    padding-bottom: 300px;
    padding-top: 60px;
    }
   
   .edulis_img {
   width: 768px;
   display: none;
   }
   .edulis_img_ipad{
       width: 768px;
       display: block;
       background-color: #ffffff;
       display: flex;
       align-content: center;
   
   }
   
   .edulis_light{
       position: relative;
       top: auto;
       bottom: 0;
       left: 0;
       right: 0;
       height: 100%;
       width: 100%;
       opacity: 1;
       transition: .5s ease;
       background-color: #ffffff;
       display: flex;
   }
    .edulis_light_text{
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 10%;
        padding-right: 10%;
       font-size: 17px;
        color: #292929;
        font-family: "theinhardt_med",sans-serif;
        line-height: 100%;
      }
   
.btn_edulis{
    display: none;
    /*   POR SI QUIERO PONER BOTON
    text-decoration: none;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: "theinhardt_med",sans-serif;
    font-size: 24px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 5%;
    white-space: nowrap;
    */
 }
   
   .img_linea_separación{
    width: 768px;
   }

/* EDULIS_section */
.edulis_section{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}
.edulis_gif{
    display: flex;
align-items: center;
margin-left: 20%;
margin-top: 0%;
}
.edulis_text{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: none
}

.edulis_text_p{
    font-size: 17px;
    font-family: "SF_semi",sans-serif;
    line-height: 150%;
    color: #292929;
    padding-top: 1%;
    padding-bottom: 0%;

}
.btn_edulis_section{
display:block;
text-decoration: none;
margin-left: 20%;
padding-top: 20px;
padding-bottom:15px;
padding-right: 80px;
padding-left: 80px;
font-family: "theinhardt_med",sans-serif;
font-size: 24px;
background-color: #292929;
color: #ffffff;
border-radius: 50px;
margin-top: 5%;
white-space: nowrap;
}

/* pasteleria_section */

.pasteleria_section{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 15%;
}

.pasteleria_gif{
    display: flex;
align-items: center;
margin-left: 20%;
margin-top: 7%;
}

.pasteleria_text{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: none
}

.btn_pasteleria_section{
    display:block;
    text-decoration: none;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: "theinhardt_med",sans-serif;
    font-size: 24px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 5%;
    white-space: nowrap;
}

/* CONTACTO_section */
.cabecera_contacto{
width: 768px;
}
.trapecista{
display: none;
}
h5{
font-size: 15px;
}
.redes{
padding-bottom: 12%;
}
.contact_me{
margin-left: 0%;
}

/* footer */
.icns_footer{
    display: flex;
    align-content: center;
    margin-left: -5%;
}

}




      /* RESPONSIVE MOBILE */

@media only screen and (max-width:415px){

    /* NAB BAR */
 nav{
width: 414px;
 }

 a{
    padding-left: 0px;    
 }

.navbar_words{
font-size: 15%;
padding-bottom: 3%;
padding-top: 3%;
}

.navbar_words_txt_eng {
    display: flex;
    padding-top: 12%;
    width: 100%;
    margin-left: 0%;
    color: #8b8b8b;
}
.cabecera{
display: flex;
flex-wrap: nowrap;
flex-direction: column;
}


/* CABECERA */


.hello{
margin-left: 10%;
padding-top: 15%;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
font-size: 50px;
}
h1{

width: 350px;
border-bottom: 5px solid #292929;
}
.uxui_alinear{

    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }

.uxui{
font-family: "theinhardt_med",sans-serif;
font-size: 21px;
flex-wrap: nowrap;
}
.uxuitext{
font-size: 16px;
flex-wrap: nowrap;
width: 350px;
}



.btn_linkedin{
font-size: 18px;

}

.btn_CV{
font-size: 18px;
margin-bottom: 10px;

 }

.btn{
margin-right:10%;
}

.bailarina{
display: flex;
align-content: center;
padding-left: 0%;
padding-bottom: 5%;
}

.bailarina_1_img{
width: 110%;
align-items: center;
}
.bailarina_2_img{
width: 110%;
align-items: center;
}

/* WHAT CAN I DO */

.what_can_I_do{
font-size: 37px;
}


.icn012{
display: flex;
flex-wrap: nowrap;
align-items: baseline;
margin-bottom: 20px;
}
.icn0_img{
width: 120%;
}

.icn0_img_h{
width: 120%;
}
.icn1_img{
width: 120%;
}

.icn1_img_h{
width: 120%;
}

.icn2_img{
width: 120%;
}

.icn2_img_h{
width: 120%;
}

/* LATEST WORK */

.my_latest_work_unit{
width: 414px;
font-size: 37px;
background-color:#f8f8f8;
padding-bottom: 100px;
padding-top: 30px;
height: 600px;
}

.poketwatch_img {
width: 414px;
display: none;
}
.poketwatch_img_ipad{
width: 414px;
display: block;
background-color: #f8f8f8;
display: flex;
align-content: center;
 }

.poketwatch_light{
position: relative;
top: auto;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 1;
transition: .5s ease;
background-color: #f8f8f8ee;
display: flex;
}
.poketwatch_light_text{
padding-top: 4%;
padding-bottom: 7%;
padding-left: 10%;
padding-right: 10%;
font-size: 16px;
color: #292929;
font-family:"SF_semi",sans-serif;
line-height: 130%;
text-align: left;

}

.btn_pocketwatch{
 display: none;   
/* 
text-decoration: none;
padding-top: 20px;
padding-bottom:15px;
padding-right: 80px;
padding-left: 80px;
font-family: "theinhardt_med",sans-serif;
font-size: 18px;
background-color: #292929;
color: #ffffff;
border-radius: 50px;
margin-top: 5%;
margin-bottom: 0%;
white-space: nowrap;
margin-left: 0px;
*/
}

.img_linea_separación{
width: 414px;
}

/* poketwatch_section */
.watchpoket_section{
display: flex;
flex-direction: column-reverse;
align-content: center;
margin-left: 0%;
margin-right: 0%;
margin-top: 10%;
}
.watchpoket_gif{
display: flex;
align-items: center;
margin-left: 10%;
margin-top: 7%;
}
.prototype_watchpoket_gif{
width: 90%;
}
.watchpoket_text{
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
background-image: none
}
.watchpoket_text_h3{
font-size: 22px;
}
.watchpoket_text_p{
font-size: 16px;
font-family: "SF_semi",sans-serif;
line-height: 130%;
color: #292929;
padding-top: 2%;
padding-bottom: 4%;
padding-right: 12%;
}

.btn_watchpoket_section{
display:block;
text-decoration: none;
margin-left: 20px;
padding-top: 20px;
padding-bottom:15px;
padding-right: 80px;
padding-left: 80px;
font-family: "theinhardt_med",sans-serif;
font-size: 18px;
background-color: #292929;
color: #ffffff;
border-radius: 50px;
margin-top: 5%;
white-space: nowrap;
}


/* LATEST WORK _EDULISSS*/

.my_latest_work_unit_2{
    width: 414px;
    font-size: 37px;
    background-color:#ffffff;
    padding-bottom: 100px;
    padding-top: 60px;
    height: 500px;
    }
    
    .edulis_img {
    width: 414px;
    display: none;
    }
    .edulis_img_ipad{
    width: 414px;
    display: block;
    background-color: #ffffff;
    display: flex;
    align-content: center;
     }
    
    .edulis_light{
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: #ffffff;
    display: flex;
    }
    .edulis_light_text{
    padding-top: 4%;
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
    color: #292929;
    font-family:"SF_semi",sans-serif;
    line-height: 130%;
    text-align: left;
    
    }
    
.btn_edulis{
    display: none;    
    /* POR SI QUIERO RECUPERAR EL BOTON
    
    text-decoration: none;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: "theinhardt_med",sans-serif;
    font-size: 18px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 0%;
    white-space: nowrap;
    margin-left: 0px;
    }
    
    .img_linea_separación{
    width: 414px;
    }
    */
}
    
    /* edulis_section */
    .edulis_section{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10%;
    }
    .edulis_gif{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 7%;
    }
    .prototype_edulis_gif{
    width: 90%;
    }
    .edulis_text{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: none
    }
    .edulis_text_h3{
    font-size: 22px;
    }
    .edulis_text_p{
    font-size: 16px;
    font-family: "SF_semi",sans-serif;
    line-height: 130%;
    color: #292929;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-right: 12%;
    }
    
    .btn_edulis_section{
    display:block;
    text-decoration: none;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 80px;
    padding-left: 80px;
    font-family: "theinhardt_med",sans-serif;
    font-size: 18px;
    background-color: #292929;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 5%;
    white-space: nowrap;
    }





/* pasteleria_section */

.pasteleria_section{
display: flex;
flex-direction: column-reverse;
align-content: center;
margin-left: 0%;
margin-right: 0%;
margin-bottom: 15%;
}

.pasteleria_gif_prototype{
width: 90%;
padding-right: 0%;
}

.pasteleria_gif{
display: flex;
align-items: center;
margin-left: 10%;
margin-top: 7%;
}

.pasteleria_text_h3{
    font-size: 22px;
    padding-right: 10%;
}

.pasteleria_text{
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
background-image: none
}

.pasteleria_text_p{
 text-align: left;
font-size: 16px;
font-family: "SF_semi",sans-serif;
line-height: 130%;
color: #292929;
padding-top: 2%;
padding-bottom: 4%;
padding-right: 10%;
}


.btn_pasteleria_section{
display:block;
text-decoration: none;
margin-left: 5%;
padding-top: 20px;
padding-bottom:15px;
padding-right: 80px;
padding-left: 80px;
font-family: "theinhardt_med",sans-serif;
font-size: 18px;
background-color: #292929;
color: #ffffff;
border-radius: 50px;
margin-top: 5%;
white-space: nowrap;
}

/* footer */
footer{
width: 414px;
text-align: center;



}
.icns_footer{
align-content: space-between;
display: flex;
justify-content: center;
padding-right: 10%;
}
.media_behance_img{
width: 50%;
}
.media_medium_img{
 width: 50%;
}

 .media_dribbble_img{
width: 50%;
}
 .media_linkedin_img{
 width: 50%;
}

.media{
padding-left:0px;
}

.heart {
fill: #ffffff;
position: relative;
top: 0px;
width: 10px;
animation: pulse 1s ease infinite;
margin-left: 5px;
margin-right: 5px;
}


/* C O N T A C T O */
.trapecista{
display: none;
}

.contact_me{
width: 80% ;
margin-top: 10%;
margin-bottom: 5%;
}

.cabecera_contacto{
width: 414px;
display: flex;
justify-content: space-between;
flex-direction: row-reverse;
margin-right: 0%;
}

.hello{
display: flex;
flex-direction: column;
align-items: center;
 }
h1{
font-size: 50px;
padding-top: 0%;
}

.redes{
padding-bottom: 22%;
display: flex;
flex-direction: column;
}

h5{
font-size: 15px;
display: flex

}

.emailblanca{
 margin-bottom: 10%;
}

.emailicon{
width: 40%;
}

.mobileicon{
padding-bottom: 10%;
width: 40%;
}

  /* R E S P O N S I V E

    @media only screen and (max-width:415px){

    }

    @media only screen and (min-width: 415px) and (max-width: 768px) {

    }

    @media only screen and (min-width: 769px) and (max-width: 1024px) {

    }

    @media only screen and (min-width: 1025px) and (max-width: 1440px) {

    }

    @media only screen and (min-width: 1441px) {
      body {
        max-width: 1440px;
        margin: auto;
      }
    }
    */

}